@{
    ViewBag.Title = "Marketing";
}


<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h1 class="font-weight-bold">Marketing</h1>
                <p class="lead">Empowering Your Brand for Digital Success</p>
                <a class="btn btn-secondary mt-3" href="@Url.Action("AvailService", "Home")">Get Started</a>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>

    @* Page Summary *@
    <div class="pageSummary mt-3">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mt-5 pr-5 services-details-image">
                        <div class="about-image">
                            <img src="~/assets/img/about4.png" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pl-5 services-details">
                        <div class="about-content">
                            <div class="section-title">
                                <h2>Empowering Your Brand for Digital Success</h2>
                                <div class="bar"></div>
                                <p>In today's fiercely competitive market, establishing a robust online presence is no longer a luxury, but a strategic imperative. At [Your Company Name], we recognize the paramount importance of digital marketing in propelling your brand towards resounding success. Our tailored marketing services are meticulously designed to elevate your brand visibility, captivate your target audience, and fuel meaningful growth that transcends your competition. With a comprehensive approach encompassing search engine optimization (SEO), compelling content creation, and effective social media management, we have all the tools to ensure your brand shines brightly across various digital platforms.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @* Page Content *@
    <div class="ml-partner-area mt-5 pt-5">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="~/assets/img/agency-image/agency-services-img1.jpg" alt="image" />
                        <a href="@Url.Action("Marketing", "Home")#SEOsec" class="content">
                            <h5>Search Engine Optimization</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="~/assets/img/agency-image/agency-services-img2.jpg" alt="image" />
                        <a href="@Url.Action("Marketing", "Home")#SEOsec" class="content">
                            <h5>Content Creation</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="~/assets/img/agency-image/agency-services-img3.jpg" alt="image" />
                        <a href="@Url.Action("Marketing", "Home")#DMsec" class="content">
                            <h5>Digital Marketing</h5> 
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="~/assets/img/agency-image/agency-services-img3.jpg" alt="image" />
                        <a href="@Url.Action("Marketing", "Home")#SMMsec" class="content">
                            <h5>
                                Social Media Management
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
        <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
        <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
    </div>

</div>
<!-- End Page Title -->




<!-- Start of SEO Section -->
<div id="smmSec ">
    <div class="ml-main-section mt-minus-top">
        @* SEO Banner *@
        <div class="ml-main-banner" style="background-image: url(/Assets/img/banner-bg.jpg)" id="SEOsec">
            <div class="container-fluid">
                <div class="section-title" style="margin-top: 100px">
                    <h1 class="font-weight-bold">Search Engine Optimization</h1>
                    <a class="btn btn-secondary mt-5" href="@Url.Action("AvailService", "Home")">Get Started</a>
                </div>
            </div>
            <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
            <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
            <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
            <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
            <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
        </div>
        @*Content*@
        <div class="services-details-area">
            <div class="container">
                <div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 services-details">
                            <div class="services-details-desc">
                                <p>At Future Craft Digital, we understand the critical role that search engine optimization (SEO) plays in driving organic traffic, improving online visibility, and boosting business growth.</p>
                                <p>comprehensive SEO services are designed to help businesses of all sizes and industries maximize their online presence and achieve higher rankings on search engine result pages. With a dedicated team of experienced SEO professionals, we implement effective strategies tailored to each client's specific goals and target audience, ensuring long-term success in the competitive digital landscape.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 services-details-image">
                            <img src="~/Assets/img/marketing/seo.jpg" class="animate__animated animate__fadeInUp" alt="image" />
                        </div>
                    </div>
                    <div class="separate"></div>
                    <div class="d-flex justify-content-center align-items-center mt-5 pt-5">
                        <div class="row">
                            <div class="col-lg-6 services-details-image">
                                <img src="~/Assets/img/marketing/seo1.jpg" class="animate__animated animate__fadeInUp" alt="image" />
                            </div>
                            <div class="col-lg-6 services-details ">
                                <div class="services-details-desc">
                                    <p>we stay up-to-date with the ever-evolving SEO landscape and the latest search engine algorithms. We continuously refine our strategies and techniques to ensure your website remains ahead of the competition. Our commitment to delivering transparent, data-driven, and results-oriented SEO services sets us apart. Partner with us to unlock the full potential of your online presence and achieve sustainable growth through expert SEO services.</p>
                                    <div class="services-details-accordion">
                                        <div data-accordion-component="Accordion" class="accordion">
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-a" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-a" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Keyword Research and Optimization</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-a" id="accordion__panel-a" hidden="">
                                                    <p>Our first step in optimizing your website for search engines is through thorough keyword research and optimization. We conduct extensive research to identify relevant keywords and phrases that align with your business and industry. By understanding search volume, competition, and user intent, we uncover valuable insights that guide our optimization strategy. We then optimize on-page elements such as meta tags, headings, and URLs to ensure they are aligned with targeted keywords and provide relevant information to search engines. Additionally, we focus on creating engaging and keyword-rich content that resonates with your audience and helps improve your website's visibility in search results.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-b" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-b" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Technical SEO and Link Building</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-b" id="accordion__panel-b" hidden="">
                                                    <p>To ensure your website is search engine-friendly, we delve into the realm of technical SEO and link building. Our experts conduct a comprehensive analysis to identify and address any technical issues that may hinder search engine crawling and indexing. We optimize website speed, improve mobile-friendliness, and implement proper schema markup to enhance your website's performance in search results. Furthermore, we employ ethical and effective link-building strategies to acquire high-quality backlinks from reputable sources. By building a network of authoritative links, we enhance your website's online authority and credibility, leading to improved organic rankings.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-c" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-c" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Local SEO and Reporting</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-c" id="accordion__panel-c" hidden="">
                                                    <p>For businesses targeting local audiences, we specialize in local SEO optimization. We optimize your online presence to improve visibility in local search results and drive more local traffic. Our strategies include optimizing your Google My Business profile, managing online reviews, and implementing location-specific techniques. By fine-tuning your local SEO strategy, we help your business stand out within your target geographic area and attract potential customers in your vicinity. Additionally, we provide regular SEO reporting, allowing you to track the progress of your campaign. Our reports encompass key metrics such as organic traffic, keyword rankings, and conversion rates. This data-driven approach enables us to analyze trends, measure campaign effectiveness, and make informed decisions for further optimization.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of SEO Section-->



<!-- Start of Content Creation Section -->
<div id="smmSec">
    <div class="ml-main-section mt-minus-top">
        @* SMM Banner *@
        <div class="ml-main-banner" style="background-image: url(/Assets/img/banner-bg.jpg)" id="CCsec">
            <div class="container-fluid">
                <div class="section-title" style="margin-top: 100px">
                    <h1 class="font-weight-bold">Content Creation</h1>
                    <a class="btn btn-secondary mt-5" href="@Url.Action("AvailService", "Home")">Get Started</a>
                </div>
            </div>

            <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
            <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
            <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
            <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
            <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>

        </div>
        @*Content*@
        <div class="features-details-area">
            <div class="container">
                <div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 features-details-image">
                            <img src="~/Assets/img/marketing/1.png" class="animate__animated animate__fadeInUp" alt="image" />
                        </div>
                        <div class="col-lg-6 features-details">
                            <div class="features-details-desc">
                                <p>Our content creation services begin with a comprehensive understanding of your brand identity, target audience, and marketing goals. We conduct in-depth consultations to gather insights and develop customized content strategies that align with your specific requirements. By tailoring our approach to your unique needs, we ensure that the content we create resonates with your audience, reflects your brand voice, and supports your marketing objectives.</p>
                                <ul class="features-details-list">
                                    <li>Customized Content Strategies</li>
                                    <li>High-Quality and Relevant Content</li>
                                    <li>Consistency and Timeliness</li>
                                    <li>Variety of Content Formats</li>
                                    <li>Transparent Communication and Collaboration</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="separate"></div>
                    <div class="d-flex justify-content-center align-items-center mt-5 pt-5">
                        <div class="row">
                            <div class="col-lg-6 features-details">
                                <div class="features-details-desc">
                                    <p>Our content creation services are designed to provide you with high-quality, engaging, and optimized content that aligns with your brand voice and achieves your marketing objectives. Whether you need assistance with a specific type of content or require end-to-end content strategy and planning, we are here to support your content creation needs.</p>
                                    <div class="features-details-accordion">
                                        <div data-accordion-component="Accordion" class="accordion">
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-a" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-a" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>What is content creation and why is it important?</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-a" id="accordion__panel-a" hidden="">
                                                    <p>Content creation refers to the process of crafting valuable and engaging content that resonates with your target audience. It can include blog posts, articles, website copy, social media content, and more. Content creation is crucial because it helps businesses establish a strong online presence, engage their audience, and drive meaningful interactions. High-quality content not only educates and informs but also promotes brand awareness, credibility, and customer loyalty. It plays a vital role in attracting organic traffic, improving search engine rankings, and ultimately driving business growth.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-b" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-b" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span> How do you ensure the content aligns with our brand voice and objectives?</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-b" id="accordion__panel-b" hidden="">
                                                    <p>At Future Craft Digital, we understand the importance of maintaining brand consistency and meeting your specific objectives. We begin by conducting in-depth consultations to gain a deep understanding of your brand identity, target audience, and marketing goals. Our content creation team works closely with you to develop customized content strategies that align with your brand voice and objectives. We follow brand guidelines, tone of voice preferences, and any specific requirements you may have to ensure that the content we create truly represents your brand and resonates with your audience.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-c" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-c" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>How do you ensure the content is high-quality and relevant?</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-c" id="accordion__panel-c" hidden="">
                                                    <p>We take pride in delivering high-quality and relevant content to our clients. Our content creation process begins with thorough research and understanding of your industry, target audience, and brand identity. Our team of experienced writers and content creators then craft content that is well-researched, informative, engaging, and aligned with your brand voice. We also follow best practices in SEO to optimize the content for search engines, ensuring it ranks well and attracts organic traffic.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 features-details-image">
                                <img src="~/Assets/img/marketing/2.png" class="animate__animated animate__fadeInUp" alt="image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Creation Section -->

<!-- Start of Digital Marketing Section -->
<div id="smmSec">
    <div class="ml-main-section mt-minus-top">
        @* Digital Marketing Banner *@
        <div class="ml-main-banner" style="background-image: url(/Assets/img/banner-bg.jpg)" id="DMsec">
            <div class="container-fluid">
                <div class="section-title" style="margin-top: 100px">
                    <h1 class="font-weight-bold">Digital Marketing</h1>
                    <a class="btn btn-secondary mt-5" href="@Url.Action("AvailService", "Home")">Get Started</a>
                </div>
            </div>
            <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
            <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
            <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
            <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
            <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
        </div>
        @*Content*@
        <div class="services-details-area">
            <div class="container">
                <div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 services-details">
                            <div class="services-details-desc">
                                <p>In today's digital age, effective marketing goes beyond traditional methods. Digital marketing has emerged as a powerful and dynamic approach to reach and engage with target audiences, leveraging the vast opportunities offered by the online landscape. It encompasses a wide range of strategies and tactics that leverage digital channels such as search engines, social media platforms, email, websites, and more.</p>
                                <p>Digital marketing enables businesses to connect with their audience, build brand awareness, drive website traffic, generate leads, and ultimately achieve measurable business growth. By harnessing the power of digital platforms, businesses can establish a strong online presence, reach their target customers at the right moment, and create meaningful interactions that drive results.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 services-details-image">
                            <img src="~/Assets/img/marketing/dm.png" class="animate__animated animate__fadeInUp" alt="image" />
                        </div>
                    </div>
                    <div class="separate"></div>
                    <div class="d-flex justify-content-center align-items-center mt-5 pt-5">
                        <div class="row">
                            <div class="col-lg-6 services-details-image">
                                <img src="~/Assets/img/marketing/dm2.png" class="animate__animated animate__fadeInUp" alt="image" />
                            </div>
                            <div class="col-lg-6 services-details">
                                <div class="services-details-desc">
                                    <p>With our digital marketing services, you can expect targeted audience reach, results-driven strategies, and an integrated multichannel approach. We are dedicated to helping your business thrive in the digital realm, driving growth, and achieving your marketing objectives.</p>
                                    <div class="services-details-accordion">
                                        <div data-accordion-component="Accordion" class="accordion">
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-a" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-a" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Targeted Audience Reach</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-a" id="accordion__panel-a" hidden="">
                                                    <p>Expect our digital marketing services to help you effectively reach your target audience. We employ advanced targeting capabilities and audience segmentation techniques to ensure your marketing messages are delivered to the right people at the right time. By understanding your target market and their online behavior, we can tailor campaigns to resonate with their interests and preferences.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-b" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-b" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Results-Driven Strategies</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-b" id="accordion__panel-b" hidden="">
                                                    <p>Our digital marketing services are focused on delivering tangible results for your business. We develop data-driven strategies and set clear objectives to guide our campaigns. Through continuous monitoring, analysis, and optimization, we strive to maximize the performance of your digital marketing efforts. Expect increased brand visibility, improved website traffic, and measurable outcomes aligned with your goals.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-c" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-c" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Integrated Multichannel Approach</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-c" id="accordion__panel-c" hidden="">
                                                    <p>We understand the importance of a cohesive and integrated approach to digital marketing. Our services span multiple channels, including search engine marketing (SEM), social media advertising, content marketing, email marketing, and more. By utilizing a combination of these channels, we create a unified brand experience for your audience, ensuring consistent messaging and maximizing the impact of your marketing efforts.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Digital Marketing Section-->


<!-- Start of SMM Section -->
<div id="smmSec">
    <div class="ml-main-section mt-minus-top" >
        @* SMM Banner *@
        <div class="ml-main-banner" style="background-image: url(/Assets/img/banner-bg.jpg)" id="SMMsec">
            <div class="container-fluid">
                <div class="section-title" style="margin-top: 100px">
                    <h1 class="font-weight-bold">Social Media Management</h1>
                    <a class="btn btn-secondary mt-5" href="@Url.Action("AvailService", "Home")">Get Started</a>
                </div>
            </div>
            <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
            <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
            <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
            <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
            <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
        </div>
        @*Content*@
        <div class="services-details-area">
            <div class="container">
                <div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 services-details-image">
                            <img src="~/Assets/img/marketing/sm.png" class="animate__animated animate__fadeInUp" alt="image" />
                        </div>
                        <div class="col-lg-6 services-details">
                            <div class="services-details-desc">
                                <p>In today's digital landscape, social media has become an integral part of any successful marketing strategy. Social media platforms provide businesses with a unique opportunity to connect and engage with their target audience, build brand awareness, and foster meaningful relationships. However, managing multiple social media accounts, creating engaging content, and staying on top of trends can be a challenging task. </p>
                                <p>That's where our social media management services come in. We take the hassle out of social media by developing and executing comprehensive strategies that drive results. From content creation and scheduling to community management and analytics, we handle all aspects of your social media presence to ensure your business stands out in the crowded digital world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="separate"></div>
                    <div class="d-flex justify-content-center align-items-center mt-5 pt-5">
                        <div class="row">
                            <div class="col-lg-6 services-details">
                                <div class="services-details-desc">
                                    <p>With our social media management services, you can expect comprehensive content creation and scheduling, community management and engagement, and analytics-driven performance tracking. We are dedicated to helping your business harness the power of social media to increase brand visibility, engage with your audience, and achieve your marketing goals. Let us handle your social media presence, while you focus on what you do best - running your business.</p>
                                    <div class="services-details-accordion">
                                        <div data-accordion-component="Accordion" class="accordion">
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-a" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-a" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Content Creation and Scheduling</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-a" id="accordion__panel-a" hidden="">
                                                    <p>Expect our social media management services to include content creation and scheduling. We develop engaging and compelling social media content tailored to your brand and target audience. Our team creates a content calendar and schedules posts strategically, ensuring consistent and timely delivery of content that resonates with your audience. By providing valuable and engaging content, we aim to increase brand visibility, encourage interactions, and drive audience engagement on social media platforms.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-b" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-b" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Community Management and Engagement</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-b" id="accordion__panel-b" hidden="">
                                                    <p>We understand the importance of fostering meaningful connections with your audience on social media. Our team actively monitors your social media channels, responds to comments, messages, and inquiries promptly, and engages with your audience in a genuine and authentic manner. We strive to build a loyal and engaged community around your brand, encouraging conversations, and fostering positive relationships with your customers.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-c" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-c" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Analytics and Performance Tracking</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-c" id="accordion__panel-c" hidden="">
                                                    <p>We believe in data-driven decision-making. Our social media management services include regular performance tracking and analytics reporting. We measure key metrics such as reach, engagement, follower growth, click-through rates, and more. By analyzing this data, we gain insights into the effectiveness of our social media strategies and make informed adjustments to optimize your social media presence. Our reports provide valuable insights into audience behavior and campaign performance, helping you make data-driven decisions for future marketing efforts.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 services-details-image">
                                <img src="~/Assets/img/marketing/sm2.png" class="animate__animated animate__fadeInUp" alt="image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of SMM Section-->



