﻿@{
    ViewBag.Title = "Outsourcing";
}


<!-- Start Page Title -->
<div class="ml-main-section" style="background-image: url(/Assets/img/banner-bg.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="ml-banner-content pb-80">
                    <h1>Outsourcing Solutions for Your Business</h1>
                    <p>Enabling Focus on Core Business by Outsourcing with Confidence</p>
                    <a class="btn btn-secondary" href="/contact/">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center pb-80">
                <img src="~/Assets/img/banner-image/hosting-static-main.png" alt="image">
            </div>
        </div>
    </div>
    <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
    @* Page Contents*@
    <div class="ml-partner-area mt-3">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="~/assets/img/agency-image/agency-services-img1.jpg" alt="image" />
                        <a href="@Url.Action("Outsourcing", "Home")#ITOsec" class="content">
                            <h5>
                                Information Technology Oursourcing
                            </h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="~/assets/img/agency-image/agency-services-img2.jpg" alt="image" />
                        <a href="@Url.Action("Outsourcing", "Home")#ITOsec" class="content">
                            <h5>
                                Business Process Outsourcing
                            </h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="agency-services-box">
                        <img src="~/assets/img/agency-image/agency-services-img3.jpg" alt="image" />
                        <a href="@Url.Action("Outsourcing", "Home")#ITOsec" class="content">
                            <h5>
                                Knowledge Process Outsourcing
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
        <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
        <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
    </div>
</div>
<!-- End of Page Title-->

<!-- Start of ITO Section -->
<div class="ITO-section">
    <div class="ml-main-section mt-minus-top">
        @* ITO Banner *@
        <div class="ml-main-banner" style="background-image: url(/Assets/img/banner-bg.jpg)" id="ITOsec">
            <div class="container-fluid">
                <div class="section-title" style="margin-top: 100px">
                    <h1 class="font-weight-bold">Information Technology Outsourcing</h1>
                    <p class="lead">Delegate Your IT Tasks with Ease</p>
                    <a class="btn btn-secondary mt-3" href="@Url.Action("AvailService", "Home")">Get Started</a>
                </div>
            </div>
            <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
            <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
            <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
            <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
            <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
        </div>
        @*Content*@
        <div class="services-details-area">
            <div class="container">
                <div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 services-details">
                            <div class="services-details-desc text-justify">
                                <p>In the realm of technology, staying ahead of the curve is pivotal to maintaining a competitive edge. With our Information Technology (IT) outsourcing services, you can confidently delegate a wide array of IT tasks to our experienced team of professionals. From setting up and managing your network infrastructure to providing seamless technology support for your employees, we ensure that your business remains technologically sound and secure.</p>
                                <p>Our IT experts diligently monitor your systems, swiftly troubleshoot issues, and implement robust cybersecurity measures to protect your valuable data from potential threats. By entrusting your IT needs to us, you can rest assured that your technology backbone is in capable hands, liberating you to focus on strategic planning and charting the course for your business's success.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 services-details-image">
                            <img src="~/Assets/img/marketing/seo.jpg" class="animate__animated animate__fadeInUp" alt="image" />
                        </div>
                    </div>
                    <div class="separate"></div>
                    <div class="solutions-area pb-80">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 col-sm-6 col-md-6">
                                    <div class="single-solutions-box h-100 d-flex flex-column justify-content-center align-items-center">
                                        <div class="icon">
                                            <img src="~/assets/img/icons/icon4.png" alt="image" />
                                        </div>
                                        <h3>
                                            24/7 Technical Support
                                        </h3>
                                        <p>Offers round-the-clock technical assistance by a team of skilled IT professionals to resolve issues promptly and ensure continuous system functionality.</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-md-6">
                                    <div class="single-solutions-box h-100 d-flex flex-column justify-content-center align-items-center">
                                        <div class="icon">
                                            <img src="~/assets/img/icons/icon5.png" alt="image" />
                                        </div>
                                        <h3>
                                            Infrastructure Management
                                        </h3>
                                        <p> Efficiently handles tasks like server management and network monitoring, maintaining a robust IT infrastructure that enhances performance, scalability, and security.</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-md-6">
                                    <div class="single-solutions-box h-100 d-flex flex-column justify-content-center align-items-center">
                                        <div class="icon">
                                            <img src="~/assets/img/icons/icon6.png" alt="image" />
                                        </div>
                                        <h3>
                                            IT Security and Data Protection
                                        </h3>
                                        <p>With stringent cybersecurity measures, vulnerability assessments, and data backup plans, ITO safeguards sensitive information from potential breaches, ensuring business continuity and customer trust.</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-md-6">
                                    <div class="single-solutions-box h-100 d-flex flex-column justify-content-center align-items-center">
                                        <div class="icon">
                                            <img src="~/assets/img/icons/icon7.png" alt="image" />
                                        </div>
                                        <h3>
                                            Scalability and Cost Efficiency
                                        </h3>
                                        <p>Provides the flexibility to scale IT resources based on business needs, optimizing operations while controlling costs through tailored solutions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
                        <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
                        <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
                        <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
                        <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
                        <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
                        <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
                        <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of ITO Section-->

<!-- Start of BPO Section -->
<div class="BPO-section">
    <div class="ml-main-section mt-minus-top">
        @* BPO Banner *@
        <div class="ml-main-banner" style="background-image: url(/Assets/img/banner-bg.jpg)" id="BPOsec">
            <div class="container-fluid">
                <div class="section-title" style="margin-top: 100px">
                    <h1 class="font-weight-bold">Business Process Outsourcing</h1>
                    <p class="lead">Streamline Efficiency and Unleash Your Potential</p>
                    <a class="btn btn-secondary mt-3" href="@Url.Action("AvailService", "Home")">Get Started</a>
                </div>
            </div>
            <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
            <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
            <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
            <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
            <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
        </div>
        @*Content*@
        <div class="services-details-area">
            <div class="container">
                <div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 services-details">
                            <div class="services-details-desc text-justify">
                                <p>Optimizing efficiency and reducing operational costs are critical pursuits for any business. Our Business Process Outsourcing (BPO) services are tailored to achieve just that. Whether it's handling customer support, managing data entry tasks, or streamlining administrative processes, our BPO team operates as a seamless extension of your operations. </p>
                                <p>By offloading these non-core functions to our skilled professionals, you free up valuable time and resources that can now be allocated to driving your core business objectives. Our unwavering commitment to quality and precision ensures that every aspect of the outsourced tasks is executed to the highest standard, enhancing overall productivity and empowering your business to flourish.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 services-details-image">
                            <img src="~/Assets/img/marketing/dm.png" class="animate__animated animate__fadeInUp" alt="image" />
                        </div>
                    </div>
                    <div class="separate"></div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6 bg-gradient">
                            <div class="single-services-box text-center">
                                <div class="d-flex justify-content-center">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <circle cx="12" cy="12" r="3"></circle>
                                            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <h3>
                                    Enhanced Efficiency and Productivity
                                </h3>
                                <p>Streamlines non-core business processes, leveraging skilled professionals to enhance efficiency and boost overall productivity.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 bg-gradient">
                            <div class="single-services-box text-center">
                                <div class="d-flex justify-content-center">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <circle cx="12" cy="12" r="3"></circle>
                                            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <h3>
                                    Cost Savings and Resource Optimization
                                </h3>
                                <p>With Future Craft Digital's BPO services, businesses reduce costs, optimize resources, and allocate their budget more strategically.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 bg-gradient">
                            <div class="single-services-box text-center">
                                <div class="d-flex justify-content-center">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <circle cx="12" cy="12" r="3"></circle>
                                            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <h3>
                                    Access to Specialized Expertise
                                </h3>
                                <p>Offer access to a team of specialized experts proficient in various fields, ensuring top-notch quality and precision for outsourced tasks.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-services-box text-center">
                                <div class="d-flex justify-content-center">
                                    <div class="icon bg-c679e3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <rect x="3" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="14" width="7" height="7"></rect>
                                            <rect x="3" y="14" width="7" height="7"></rect>
                                        </svg>
                                    </div>
                                </div>
                                <h3>
                                    Scalability and Flexibility
                                </h3>
                                <p> Provides flexible BPO solutions, allowing businesses to scale operations as needed, adapt to changing demands, and seize growth opportunities.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-services-box text-center">
                                <div class="d-flex justify-content-center">
                                    <div class="icon bg-c679e3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <rect x="3" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="3" width="7" height="7"></rect>
                                            <rect x="14" y="14" width="7" height="7"></rect>
                                            <rect x="3" y="14" width="7" height="7"></rect>
                                        </svg>
                                    </div>
                                </div>
                                <h3>
                                    Focus on Core Competencies
                                </h3>
                                <p>By partnering with Future Craft Digital, businesses can focus on their core competencies, innovation, and customer-centric strategies, driving long-term success and growth.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of BPO Section

<!-- Start of KPO Section -->
<div class="KPO-section">
    <div class="ml-main-section mt-minus-top">
        @* SMM Banner *@
        <div class="ml-main-banner" style="background-image: url(/Assets/img/banner-bg.jpg)" id="KPOsec">
            <div class="container-fluid">
                <div class="section-title" style="margin-top: 100px">
                    <h1 class="font-weight-bold">Knowledge Process Outsourcing</h1>
                    <p class="lead">Empowering Your Business with Specialized Expertise</p>
                    <a class="btn btn-secondary mt-3" href="@Url.Action("AvailService", "Home")">Get Started</a>
                </div>
            </div>

            <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
            <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
            <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
            <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
            <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
            <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
        </div>
        @*Content*@
        <div class="features-details-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 features-details-image">
                        <img src="~/Assets/img/marketing/1.png" class="animate__animated animate__fadeInUp" alt="image" />
                    </div>
                    <div class="col-lg-6 features-details">
                        <div class="features-details-desc text-justify">
                            <p>In the quest for sustained growth, informed decision-making becomes a game-changer. Our Knowledge Process Outsourcing (KPO) services open the doors to specialized expertise and valuable insights that can set you apart in the market. Whether you require in-depth market research, data analysis, or strategic consultancy services, our proficient team of subject matter experts is equipped to deliver tailored solutions.</p>
                            <p>By tapping into our KPO services, you gain access to a wealth of information that fuels your business strategies and keeps you ahead of the competition. With data-driven insights, you can confidently navigate market trends, seize new opportunities, and make well-informed decisions that propel your business towards success.</p>
                        </div>
                    </div>
                </div>
                <div class="separate"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-ml-services-box">
                                <div class="image">
                                    <img src="~/assets/img/services-left-image/service-image1.png" alt="image" />
                                </div>
                                <h3>
                                    In-depth Market Research
                                </h3>
                                <p>Provides comprehensive market research through KPO services, equipping businesses with valuable insights to make informed decisions and gain a competitive edge.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-ml-services-box">
                                <div class="image">
                                    <img src="~/assets/img/services-left-image/service-image2.png" alt="image" />
                                </div>
                                <h3>
                                    Data Analysis and Interpretation
                                </h3>
                                <p>With Future Craft Digital's KPO expertise, businesses can harness the power of data analysis and interpretation, unlocking hidden patterns and trends for data-driven strategies.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-ml-services-box">
                                <div class="image">
                                    <img src="~/assets/img/services-left-image/service-image3.png" alt="image" />
                                </div>
                                <h3>
                                    Specialized Consultancy Services
                                </h3>
                                <p>Offers specialized KPO consultancy, guiding businesses towards strategic growth by tapping into expert advice and industry best practices.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-ml-services-box">
                                <div class="image">
                                    <img src="~/assets/img/services-left-image/service-image4.png" alt="image" />
                                </div>
                                <h3>
                                    Intellectual Property Research
                                </h3>
                                <p>Conducts extensive intellectual property research, safeguarding your innovations and ensuring compliance with patent and copyright regulations.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-ml-services-box">
                                <div class="image">
                                    <img src="~/assets/img/services-left-image/service-image5.png" alt="image" />
                                </div>
                                <h3>
                                    Financial Modeling and Analytics
                                </h3>
                                <p>Include sophisticated financial modeling and analytics, enabling businesses to make well-informed financial decisions for sustainable growth.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-ml-services-box">
                                <div class="image">
                                    <img src="~/assets/img/services-left-image/service-image6.png" alt="image" />
                                </div>
                                <h3>
                                    Expert Knowledge in Niche Domains
                                </h3>
                                <p>By partnering with Future Craft Digital, businesses gain access to expert knowledge in niche domains, empowering them with unmatched expertise and thought leadership.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
                <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
                <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
                <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
                <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
                <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
                <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
                <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Creation Section -->
